# ============== Clerk API Keys ============== #
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z3VpZGluZy15ZXRpLTQ1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_Rch1Jvdn3XUGgd0P0pqm3IjfjrB4q7OPxwtOUrjnAQ                      # Your Clerk secret key for the backend

# ============== Clerk URLs ============== #
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in  # URL for sign-in page
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up  # URL for sign-up page
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/   # Redirect URL after successful sign-in
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/   # Redirect URL after successful sign-up
NEXT_REDIRECT=/                         # Default redirect URL

# ============== Database Configuration ============== #
DATABASE_URL= https://cloud.mongodb.com/v2#/org/66e44a2bf51b70772ffa0e2d

# ============== Cloudinary Configuration ============== #
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dfbnjjzjl 
NEXT_PUBLIC_CLOUDINARY_API_KEY= 688615636831415         # Your Cloudinary API key
CLOUDINARY_API_SECRET= _2KpV-A3UIv9aX6vBAxKAQD6uqo                  # Your Cloudinary API secret

# ============== Application Configuration ============== #
NEXT_PUBLIC_TEACHER_ID=Dora jermi                  # Default Teacher ID for the application
NEXT_PUBLIC_APP_URL=http://localhost:3000 # Application base URL

# ============== Stripe Configuration ============== #
STRIPE_API_KEY= pk_test_51PyaL3P4Q6mITyFByoiM6cPJqlxzLRphemr2R8ycgBfVJsPJtZCZGiqrfZrVm4JA3iNyPWWcbMPGILZgvvlKHmVd00vcqUWaJC                         # Your Stripe API key
STRIPE_WEBHOOK_SECRET=sk_test_51PyaL3P4Q6mITyFBQgO6NExX8kprtJZrC8UFh5gDgHF7mRm8LI1Sg9HusXDD7oMmBkjC4eO02iy3NwGFUwSgAD9X00gyxJwSTC                   # Your Stripe webhook secret
